<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_icp6">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/g_mic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/g_mic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AudioAssistant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>