.size {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    line-height:30px;
    justify-content: center;

}

.resolution {
    margin: 5px;
    color: white;
    height:70px;
    width:70px
}
