body {
    margin: 3%;
    border: 2px solid ghostwhite  ;
    background-color: Silver;
    padding: 5px;
}
/*For the Display area*/
#image {
    line-height: 450px;
    width: 575px;
    height: 450px;
    border: 5px solid black;
    background-color: #00BFFF;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: 100%;
    margin: 0 auto 25px;
    font-size: 200%;
}
/*For the Preview image*/
.preview {
    width: 10%;
    margin-left: 17%;
    border: 3px solid black;
}
img {
    width: 95%;
}