.image{
  height:46.5em; background-size:cover; width:100%;
  background-image:url(https://wallpaperplay.com/walls/full/1/6/2/93324.jpg);
  background-position:100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
